@import 'globals';
@import 'mixins';

.monitor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.error {
  @include white-shadowed-text;
  border: 2px solid $error-color;
  border-radius: 10px;
  font-size: 3vw;
  margin: 50px 50px 0;
  padding: 20px;
  text-align: center;
}

.title {
  color: $title-text-color;
  font-size: 20px;
  padding: 10px 20px 5px;
  text-align: right;
}

.github {
  display: inline-block;
  margin-left: 5px;
  opacity: .5;

  img {
    height: 16px;
    width: 16px;
  }

  &:hover {
    opacity: 1;
  }
}

.projects-wrapper {
  display: flex;
  flex: 1;
  margin: 0 20px 15px;

  .project {
    @include white-shadowed-text;
    align-items: center;
    background-color: $unknown-color;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 10px;
    position: relative;

    &.success {
      background-color: $success-color;
    }

    &.failure {
      background-color: $failure-color;
    }

    &.building {
      animation: buildingPulse 1.5s ease-in-out infinite alternate;
      background-color: $building-color;
    }

    .name {
      font-size: 6vh;
    }

    .build-number {
      bottom: 10px;
      font-size: 3vh;
      left: 10px;
      position: absolute;
    }

    .time-ago {
      bottom: 10px;
      font-size: 3vh;
      position: absolute;
      right: 10px;
    }
  }
}
