!!! 5
%html
  %head
    %title CircleCI Build Monitor
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    %meta{ 'http-equiv': 'refresh', content: Rails.configuration.poll_rate }

  %body
    = yield
